body {
	font-family: 'Segoe UI', sans-serif , "Microsoft JhengHei";
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

input,
textarea {
  font-family: "微軟正黑體", sans-serif;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -10; /* 確保在所有內容底下 */
}

.main-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
  pointer-events: none;
  z-index: -1;
}

body.iframe-body {
  background-color: transparent;
}

table {
      width: 100%;
      border-collapse: collapse;
    }

    td, th {
      border: 1px solid #ccc;
      padding: 5px;
    }

/*導覽列*/
header { /*導覽列設計*/
  background-color: #fff;
  border-bottom: 1px solid #ccc;
	opacity: 0.5;
}

.navbar ul { /*導覽列*/
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
  justify-content: center;
}

.navbar li { /*導覽列List間距*/
  margin: 0 15px;
}

/*導覽列滑鼠未靠近顯示*/
.navbar a ,
.navbar button {
	background: none;
	border: none;
	font-family: inherit;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	all: unset;
	font-size: 1em;
	cursor: pointer;
}


.navbar a:hover { /*導覽列滑鼠靠近顯示*/
  color: #0077cc;
}
/*導覽列手機端設定*/
@media (max-width: 480px) {
  .navbar ul {
    flex-wrap: nowrap;
    justify-content: space-center;
    padding: 12px 10px;
  }

  .navbar li {
    margin: 0 10px;
  }

  .navbar a {
    font-size: 0.85em;
  }
}


#preview-content {
  padding: 50px 50px 50px 50px; /* 上右下左 */
}
.preview-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
}

.preview-panel.active {
	display: flex;
	transform: translateX(0);
}



.preview-wrapper {
  padding: 32px;
  font-size: 1em;
  line-height: 1.8;
  font-family: 'Margarine', '微軟正黑體', sans-serif;
  color: #333;
}

/* 放大樣式只給 .fullscreen 時觸發 */
.preview-panel.fullscreen {
  max-width: 1200px;
  height: 100vh;
	transform: scale(0.9);
  border-radius: 12px;
  box-shadow: 0 8px 40px rgba(0,0,0,0.2);
	margin:auto;
}

.preview-panel.fullscreen .preview-wrapper {
  padding: 40px 60px;
  font-size: 1.1em;
  max-width: 1200px;
  margin: auto;
}

    .close-btn {
		position: absolute;
      cursor: pointer;
      font-size: 18px;
  padding: 4px 8px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  transition: background 0.2s ease;
    }
.close-btn:hover {
  background-color: #eee;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  z-index: 10001;
}

.fullscreen-btn {
  cursor: pointer;
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 6px;	
		margin-left:50px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  transition: background 0.2s ease;
}

.fullscreen-btn:hover {
  background: #eee;
}
.preview-panel.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}
.open-new-btn {
	position: absolute;
  cursor: pointer;
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 6px;	
		margin-left:100px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  transition: background 0.2s ease;
}
.open-new-btn:hover {
  background: #eee;
}


@media (max-width: 768px) {
	.preview-panel{
		width:100%;
	}
	.fullscreen-btn{
		display:none;
	}
	.open-new-btn {
    display: none;
  }
	.close-btn {
		left:10px;
	}
	#preview-content {
  padding: 20px 10px 50px 10px; /* 上右下左 */
}
	
}

    .overlay {
      display: none;
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 999;
    }

    .overlay.active {
      display: block;
    }

    .article-link {
      color: #333;
      cursor: pointer;
      text-decoration: underline;
    }

/*導覽列*/
header { /*導覽列設計*/
  background-color: #fff;
  border-bottom: 1px solid #ccc;
	opacity: 0.5;
}

.navbar ul { /*導覽列*/
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
  justify-content: center;
}

.navbar li { /*導覽列List間距*/
  margin: 0 15px;
}

/*導覽列滑鼠未靠近顯示*/
.navbar a ,
.navbar button {
	background: none;
	border: none;
	font-family: inherit;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	all: unset;
	font-size: 1em;
	cursor: pointer;
}


.navbar a:hover { /*導覽列滑鼠靠近顯示*/
  color: #0077cc;
}
/*導覽列手機端設定*/
@media (max-width: 480px) {
  .navbar ul {
    flex-wrap: nowrap;
    justify-content: space-center;
    padding: 12px 10px;
  }

  .navbar li {
    margin: 0 10px;
  }

  .navbar a {
    font-size: 0.85em;
  }
}

.about-section {
  padding: 40px 20px;
}



.about-box {
  max-width: 1100px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.about-box-2 {
  max-width: 1100px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
	padding-top:50px;
  padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
  .about-box {
    padding-top: 5px;
  }
	.about-box-2 {
		padding-left: 2em!important;
		padding-right: 2em!important;
		padding-buttom:2em!important;
	}
}
.about-box h1 {
  text-align: left;
  font-size: 2em;
  margin-bottom: 30px;
	padding-left: 50px;
  border-bottom: 3px solid #5c4033;
	color:#5c4033;
  padding-bottom: 10px;
	font-style: italic;
}

.about-box h1.about-box-right-align {
	text-align: right;
	padding-right: 50px;
}

/*表格*/
table {
  table-layout: fixed; /* ✅ 固定欄寬 */
  width: 100%;
	color:#333;
}
.custom-table th:nth-child(1),
.custom-table td:nth-child(1) {
  width: 30%;
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
  width: 20%;
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
	width: 20%;}
	.custom-table th:nth-child(4),
		.custom-table td:nth-child(4) {
  width: 35%;
}

/*角色設定*/
blockquote { /*引用*/
	border-radius: 4px;
}

.notion-quote {
	width: 100%;
	max-width: 800px;
	border-left: 4px solid #6f6f6f;  /* 左側灰色線 */
	padding-left: 16px;              /* 內文縮排 */
	margin: 16px auto;                  /* 上下間距 */
	color: #555;                     /* 字體顏色 */
/*	font-style: italic;               可選：斜體 */
}

@media (max-width: 768px) {
	.notion-quote {
		max-width: 90%;
		padding: 0.2em 12px;  /* 上下固定，左右略縮 */
		font-size: 14px;      /* 可選 */
	}
}

/*灰底注意事項*/
.callout-box {
  display: flex;
  align-items: flex-start;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 12px 16px;
  margin: 16px 0;
  box-shadow: 0 0 2px rgba(0,0,0,0.05);
  gap: 12px;
}

.callout-icon {
  font-size: 1.2em;
  line-height: 1.2;
  margin-top: 3px;
}

.callout-content {
  line-height: 1.6;
  font-size: 0.95em;
  color: #333;
}

/*摺疊內容*/
.notion-fold .fold-body .details-body{
  padding: 0 1em;
}

.fold-body {
	margin-top: 1em;
	font-size: 14px;
}

.details-body {
	margin-left: 0.9em;
}


/*基本設定*/
.no-border-table th,
.no-border-table td {
  border: none;
	vertical-align: top;
}
.name-table th:nth-child(1),
.name-table td:nth-child(1) {
  width: 15%;	
	font-size:14px;
	}
.name-table th:nth-child(2),
.name-table td:nth-child(2) {
  width: 42.5%;
	font-size:14px;
}
.name-table th:nth-child(3),
.name-table td:nth-child(3) {
  width: 42.5%;
	font-size:14px;
}
.highlight-cell {
  background-color: #e9e9e9;
}
td img {
  max-width: 100%;
  height: auto;
  display: block;	
  margin-left: auto;
  margin-right: auto;
}

.setting-table th:nth-child(1),
.setting-table td:nth-child(1) {
  width: 45%;	
	}
.setting-table th:nth-child(2),
.setting-table td:nth-child(2) {
  width: 10%;
}
.setting-table th:nth-child(3),
.setting-table td:nth-child(3) {
  width: 45%;
}

.relation table,
.relation th,
.relation td {
	border: 1px solid #ccc;
}

.name-table-2 th:nth-child(1),
.name-table-2 td:nth-child(1) {
  width: 25%;	
	font-size:14px;
	}
.name-table-2 th:nth-child(2),
.name-table-2 td:nth-child(2) {
  width: 37.5%;
	font-size:14px;
}
.name-table-2 th:nth-child(3),
.name-table-2 td:nth-child(3) {
  width: 37.5%;
	font-size:14px;
}

#password-gate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.85); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#password-gate .gate-box {
  background: rgba(255,250,218,0.2);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}
.password {
	margin-top: -1.1em;
	font-size: 14px;
}

hr {
	border: none;
	height: 1px;
	background-color: rgba(0,0,0,0.1);
}

/*分頁css*/
.novel-meta {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px 12px;
  margin-bottom: 20px;
  font-size: 0.95em;
  color: #444;
  align-items: start;
}

.novel-meta div {
  display: contents;
}

.meta-label {
  color: #A4A4A4;
  white-space: nowrap;
}


.novel-content {
  line-height: 1.8;
  font-size: 1em;
  color: #333;
}

.novel-content p {
  margin-bottom: 1em;
  text-align: justify;
}
