body {
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

input,
textarea {
  font-family: "微軟正黑體", sans-serif;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -10; /* 確保在所有內容底下 */
}

.main-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
  pointer-events: none;
  z-index: -1;
}

body.iframe-body {
  background-color: transparent;
}

table {
      width: 100%;
      border-collapse: collapse;
    }

    td, th {
      border: 1px solid #ccc;
      padding: 10px;
    }

    .preview-panel {
      position: fixed;
      top: 0;
      right: 0;
      width: 40%;
      height: 100%;
      background-color: #fff;
      box-shadow: -2px 0 10px rgba(0,0,0,0.2);
      padding: 20px;
      display: none;
      flex-direction: column;
      z-index: 1000;
    }

    .preview-panel.active {
      display: flex;
    }

    .close-btn {
      align-self: flex-end;
      cursor: pointer;
      color: red;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .overlay {
      display: none;
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 999;
    }

    .overlay.active {
      display: block;
    }

    .article-link {
      color: blue;
      cursor: pointer;
      text-decoration: underline;
    }